<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title | Teste de Performance 1</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="container">
            <a asp-action="Index" asp-controller="Friends">
                <h1 class="header__logo">Teste de Performance 1</h1>
            </a>

            <nav class="navigation">
                <ul class="navigation__links">
                    <li><a asp-action="Index" asp-controller="Friends">Page 1</a></li>
                    <li><a asp-action="Page2" asp-controller="Friends">Page 2</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>
</body>
</html>
